#productList {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    min-width: 60%;
    margin-top: -100px;
}

/* Tabell-huvud specefikt för productList */
#productList th{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    background-color: #5b8bff;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#productList tr:nth-child(even){background-color: #99ccff;}

#productList td, th{
    padding: 8px;
    width: 33%;
}