
/* Huvud klasser för sidan */
#wrapper{
    min-width: 100%;
    max-width: 100%;
}

#content{
    min-width: 60%;
    max-width: 60%;
    margin-left: 20%;
    margin-right: auto;
    float: left;
}

#right-sidebar{
    min-width: 20%;
    max-width: 20%;
    float: right;
}

#header {
    margin-left: auto;
    margin-right: auto;
    min-width: 60%;
    max-width: 60%;
}

#productList {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    min-width: 100%;
    max-width: 100%;
}

/* Här under finns CSS för specefika funktioner på sidan*/

/* Produktlista CSS*/
#productList th{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    background-color: #5b8bff;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#productList tr:nth-child(even){background-color: #99ccff;}

#productList td, th{
    padding: 8px;
    width: 33%;
}
/* Loginpanel CSS*/
#loginForm{
    min-height: 250px;
    min-width: 100%;
    max-width: 100%;
    padding-left: 12px;
    background-color: #5e83af;
}

#loginForm input[type=text], input[type=password]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Meny CSS*/
#navmenu{
    min-width: 100%;
}

#navmenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navmenu li{
    float: left;
}

#navmenu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#addToCartButton {
    margin-left: auto;
    margin-right: auto;
}
#productList textarea {

}